# 2020.11.13 流程控制

[Python 教學](https://docs.python.org/zh-tw/3.9/tutorial/index.html)



## 01 For Loop

### 1.1 For Loop 基本架構

In [ ]:
for i in range(5):  #0,1,2,3,4
  print(i)

0
1
2
3
4

In [ ]:
for i in range(5):  #0,1,2,3,4  #即為(0,5)
  print(i*2 + 2)

2
4
6
8
10

In [ ]:
for i in range(5):  #0,1,2,3,4(共5次)
  print("Hello")

Hello
Hello
Hello
Hello
Hello

### 1.2 LaTex 語法

計算 $\sum_{n=1}^{1000}(3n-2)$

In [ ]:
# $\sum_{n=1}^{1000}(3n-2)$

In [ ]:
S = 0
for n in range(1,1001):
  S += 3*n - 2     #連加
print(S)

1499500

請計算 $\sum_{n=1}^{15} (2n^2-7n+8)$

In [ ]:
# $\sum_{n=1}^{15} (2n^2-7n+8)$

In [ ]:
S = 0
for n in range(1,16):
  S += (2*n**2 - 7*n +8)
print(S)

1760

請計算 $\prod_{n=1}^{10} (2n+1)$

In [ ]:
S = 1           #是連乘所以可以從1開始
for n in range(1,11):
  S *= 2*n + 1     #連乘 *=
print(S)

13749310575

### 1.3 串列 [  ]

In [ ]:
a = ['a','b','c','d','e','f']
b = [20,21,22,23,24,25]
for i in range(6):                #0,1,2,3,4,5
  print(a[i]+' is '+str(b[i])+' years old')  #Print只能放同類資料(所以要用str轉)

a is 20 years old
b is 21 years old
c is 22 years old
d is 23 years old
e is 24 years old
f is 25 years old

In [ ]:
for name in a:  #為資料命名變數(所有a值為name)
  print(name)

a
b
c
d
e
f

In [ ]:
for age in b:
  print(age)

20
21
22
23
24
25

** 找到其在字串對應值 將值給i

In [ ]:
for name in a:
  i = a.index(name)             #在a裡面找到name各自對應index    
  print( name +' is ' + str(b[i]) + ' years old.')

a is 20 years old.
b is 21 years old.
c is 22 years old.
d is 23 years old.
e is 24 years old.
f is 25 years old.

** 由年紀小到大輸出

In [ ]:
c = b.copy()                    #把b元素copy下來放入c
c.sort()                       #由小排到大
for age in c:
  i = b.index(age)                
  print( a[i] + ' is ' + str(b[i]) + ' years old.')

a is 20 years old.
b is 21 years old.
c is 22 years old.
d is 23 years old.
e is 24 years old.
f is 25 years old.

** 由年紀大到小輸出

In [ ]:
c = b.copy()
c.sort()                       
c.reverse()                      #轉置矩陣
for age in c:
  i = b.index(age)
  print(a[i]+' is '+str(b[i])+' years old.')

f is 25 years old.
e is 24 years old.
d is 23 years old.
c is 22 years old.
b is 21 years old.
a is 20 years old.

### 1.4 多重迴圈

In [ ]:
for i in range(3):      #0,1,2
  for j in range(2):    #0,1
    print(i,j)

0 0
0 1
1 0
1 1
2 0
2 1

In [ ]:
for i in range(4,6):    #4,5
  for j in range(2,4):  #2,3
    print(i,j)

4 2
4 3
5 2
5 3

三個迴圈

In [ ]:
for i in range(4,6):      #4,5
  for j in range(2,4):    #2,3
    for k in range(1,3):  #1,2
      print(i,j,k)

4 2 1
4 2 2
4 3 1
4 3 2
5 2 1
5 2 2
5 3 1
5 3 2

** pass ( print 不 indent之情況下 )

In [ ]:
for i in range(4,6):      #4,5
  for j in range(2,4):    #2,3
    for k in range(1,3):  #1,2
      pass
    print(i,j,k)

4 2 2
4 3 2
5 2 2
5 3 2

輸入99乘法表

In [ ]:
for i in range(1,10):          #1,2,3,4,5,6,7,8,9
  for j in range(1,10):        #1,2,3,4,5,6,7,8,9
    print(str(i) + '*' + str(j) + ' = ' + str(i * j))  #要用字串連結(int不行)

1*1 = 1
1*2 = 2
1*3 = 3
1*4 = 4
1*5 = 5
1*6 = 6
1*7 = 7
1*8 = 8
1*9 = 9
2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54
7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63
8*1 = 8
8*2 = 16
8*3 = 24
8*4 = 32
8*5 = 40
8*6 = 48
8*7 = 56
8*8 = 64
8*9 = 72
9*1 = 9
9*2 = 18
9*3 = 27
9*4 = 36
9*5 = 45
9*6 = 54
9*7 = 63
9*8 = 72
9*9 = 81

In [ ]:
for i in range(1,10):          #1,2,3,4,5,6,7,8,9
  for j in range(1,10):        #1,2,3,4,5,6,7,8,9
    p = i * j
    print('%d*%d = %d' %(i,j,p), end=" ")

1*1 = 1 1*2 = 2 1*3 = 3 1*4 = 4 1*5 = 5 1*6 = 6 1*7 = 7 1*8 = 8 1*9 = 9 2*1 = 2 2*2 = 4 2*3 = 6 2*4 = 8 2*5 = 10 2*6 = 12 2*7 = 14 2*8 = 16 2*9 = 18 3*1 = 3 3*2 = 6 3*3 = 9 3*4 = 12 3*5 = 15 3*6 = 18 3*7 = 21 3*8 = 24 3*9 = 27 4*1 = 4 4*2 = 8 4*3 = 12 4*4 = 16 4*5 = 20 4*6 = 24 4*7 = 28 4*8 = 32 4*9 = 36 5*1 = 5 5*2 = 10 5*3 = 15 5*4 = 20 5*5 = 25 5*6 = 30 5*7 = 35 5*8 = 40 5*9 = 45 6*1 = 6 6*2 = 12 6*3 = 18 6*4 = 24 6*5 = 30 6*6 = 36 6*7 = 42 6*8 = 48 6*9 = 54 7*1 = 7 7*2 = 14 7*3 = 21 7*4 = 28 7*5 = 35 7*6 = 42 7*7 = 49 7*8 = 56 7*9 = 63 8*1 = 8 8*2 = 16 8*3 = 24 8*4 = 32 8*5 = 40 8*6 = 48 8*7 = 56 8*8 = 64 8*9 = 72 9*1 = 9 9*2 = 18 9*3 = 27 9*4 = 36 9*5 = 45 9*6 = 54 9*7 = 63 9*8 = 72 9*9 = 81

請列出 n! ，其中 $n=2,\dots,30$

In [ ]:
for n in range(2,31):      #2,3,4,.....30
  s = 1
  for i in range(1,n+1):    #3,4,5,...31
    s *= i          # *= 連乘
  print(str(n)+'!= ' + str(s))

2!= 2
3!= 6
4!= 24
5!= 120
6!= 720
7!= 5040
8!= 40320
9!= 362880
10!= 3628800
11!= 39916800
12!= 479001600
13!= 6227020800
14!= 87178291200
15!= 1307674368000
16!= 20922789888000
17!= 355687428096000
18!= 6402373705728000
19!= 121645100408832000
20!= 2432902008176640000
21!= 51090942171709440000
22!= 1124000727777607680000
23!= 25852016738884976640000
24!= 620448401733239439360000
25!= 15511210043330985984000000
26!= 403291461126605635584000000
27!= 10888869450418352160768000000
28!= 304888344611713860501504000000
29!= 8841761993739701954543616000000
30!= 265252859812191058636308480000000

## 02 While Loop

### 2.1 While Loop 基本架構

> While Loop 架構
```
while (expression):
  statement
```

In [ ]:
i = 0
while i < 4:
  print(i)
  i+=1

0
1
2
3

布林值

In [ ]:
i = 4
i < 9

True

### 2.2 For 迴圈的程式改成用 While 迴圈表示

In [ ]:
# Ex.1 將1~29分別帶入式子並加總
S = 0
for n in range(1,30):
  S+= 2*n**2-7*n-2
print(S)

14007

In [ ]:
s = 0
i = 1
while i < 30:
  s += 2*i**2 - 7*i - 2
  i += 1
print(s)

14007

In [ ]:
# Ex.2 將1~19分別帶入式子並加總
S = 1
for i in range(1,20):
  S*=i
print(S)

121645100408832000

(My Solution)

In [ ]:
S = 1
i = 1
while i < 20:
  S *= i
  i += 1
print(S)

121645100408832000

(老師解法)

In [ ]:
S = 1
i = 0
while i < 19:
  i += 1
  S *= i
print(S)

121645100408832000

請列出273845 的所有因數

In [ ]:
n = 273845
i = 1
for i in range(1,n+1):
  if (n % i == 0):
    print(str(i) + ' 為其因數')
  i =+ 1

1 為其因數
5 為其因數
11 為其因數
13 為其因數
55 為其因數
65 為其因數
143 為其因數
383 為其因數
715 為其因數
1915 為其因數
4213 為其因數
4979 為其因數
21065 為其因數
24895 為其因數
54769 為其因數
273845 為其因數

請判斷 2976297 與 5639 是否互質，如果不互質，最大公因數是誰？

In [ ]:
n1 = 2976297
n2 = 5639

a = set()           # a為一空集合
b = set()           # b為一空集合

for i in range(1,n1+1):    #測試n1,n2各自因數
  if n1%i==0:
    a.add(i)         # 加入集合add()
for i in range(1,n2+1):
  if n2%i==0:
    b.add(i)

c = a.intersection(b)      #用a,b交集
c = list(c)           #將a,b交集
c.sort()              #由小排到大
c.pop()              #輸出最後一個值

1